:root {
  --background: #181818;
  --text-color: #f0f0f0;
  --card-bg: #242424;
  --card-border: #333;
  --primary: #3b82f6;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  background-color: #05051D;
}

*{
  margin: 0;
  padding: 0;
}


/* Navbar */
.navbar {
  width: 100%;
  background-color: #05061B;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #433e62;
}

/* Contenedor del contenido del navbar */
.navbar__content {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Texto con gradiente */
.navbar__title {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(to right, #AA6EFF, #FC668A, #FDCB7D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.logo{
  width: 40px;
  margin-right: 15px;
}

/* Bloque principal */
.card {
  background-color: #1E1E2E;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border: 0.5px solid #433e62;

}

/* Título */
.card__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  color: #FF8A75; /* Color del título */
}

/* Fecha */
.card__date {
  font-size: 1rem;
  margin: 5px 0 20px;
  color: #A0A0B0;
}

/* Lista de partidos */
.card__matches {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Encuentro individual */
.card__match {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.card__logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: contain;
}

.card__team {
  color: #bbbbd5;
  font-weight: bold;
  font-size: 0.8rem;
  flex: 1;
  text-align: center;
}

.card__vs {
  color: #FDCB7D; /* Color dorado para "VS" */
  font-weight: bold;
  margin: 0 10px;
}

.card__time {
  font-size: 0.9rem;
  margin-top: 5px;
  width: 100%;
  color: #A0A0B0;
  text-align: center;
}

.card__divider {
  border: none;
  border-top: 1px solid #433e62;
  width: 100%;
  margin: 10px 0;
}

/* Botón */
.card__button {
  background: linear-gradient(to right, #AA6EFF, #FC668A, #FDCB7D);
  color: #000; /* Texto oscuro para contraste */
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; /* Si es un enlace */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra ligera */
  transition: all 0.3s ease;
}

.card__button:hover {
  transform: scale(1.05);
}

/* TABLA DE POSOCIONES */
.card__table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.card__table-header {
  background-color: #292A3E;
  color: #FF8A75;
  font-weight: bold;
}

.card__table-header th {
  padding: 10px;
  text-align: center;
}

.card__table-row {
  border-bottom: 1px solid #433e62;
}

.card__table-number,
.card__table-logo,
.card__table-name {
  padding: 10px;
  text-align: center;
  color: #bbbbd5;
}

.card__logo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: contain;
  margin: 0 auto;
}

/* Botón */
.card__button {
  background: linear-gradient(to right, #AA6EFF, #FC668A, #FDCB7D);
  color: #000;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.card__button:hover {
  transform: scale(1.05);
}
